body {
    margin: 0;
    padding: 0;
    background-color: #320132;
}
div {
    width: 100%;
    height: 100px;
    background-color: yellow;
}
div::before {
    content: "";
    background-color: chocolate;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100px;
}
div::after {
    content: "";
    background-color:crimson;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 200px;
}