body {
    margin: 0;
    padding: 0;
    background-color: #750417;
}
div {
    width: 150px;
    height: 300px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 10em 0 0 10em;
}
div::after {
    content: "";
    width: 150px;
    height: 300px;
    background-color: #ff390ca3;
    position: absolute;
    right: -130%;
    border-radius: 0 10em 10em 0;
}
i {
    font-size: 50px;
}
a.left {
    position: absolute;
    top: 45%;
    left: 20px;
}
a.right {
    position: absolute;
    right: 20px;
    top: 45%;
}
a:hover {
    opacity: 50%;
}
i.fa-house {
    font-size: 30px;
    margin: 20px;
}