body {
    margin: 0;
    padding: 0;
    background-color: #222730;
}
div {
    background-color: #4caab3;
    width: 50%;
    height: 250px;
    margin: 200px auto;
}
div::before {
    content: "";
    width: 250px;
    height: 250px;
    background-color: #4caab3;
    border: 70px solid #222730;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
div::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #393e46;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}